:root{
    /* --background: #000430; */
    --background: #000000;
    /* --secondaryBackground: #171c48; */
    --secondaryBackground: #CFFFE2;
    /* --text: #fff; */
    --text: #F6F6F6;
    --purple: #4a55cf;
    --teal: #A2D5C6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 600px;
    /* margin: auto; */
    /* border: 1px solid yellow; */
}

/* styling for statistic container  */
.stats-container{
    border: 2px solid var(--purple);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.details{
    width: 100%;
}
.details h1{
    font-size: 36px;
    font-weight: 600;
    margin: 10px;
}
.details p{
    margin: 10px;
    font-size: 17px;
}
#progress-bar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}
#progress{
    /* background-color: var(--teal); */
    background-color: blue;
    height: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

/* styling for input task Box container  */
.inputTaskBox{
    width: 100%;
    /* border: 2px solid ghostwhite; */
    display: flex;
    align-items: center;
    justify-content: center;
}

 .inputTaskBox form{
    width: 90%;
    margin:20px auto;
    display: flex;
    gap: 10px;
}
#inputEl{
    width: 70%;
    height: 45px;
    flex: 1; 
    padding: 12px;
    border: 1px solid var(--purple);
    background: var(--secondaryBackground);
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 19px;
}
button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

/* style for task list box  */

.taskListBox{
    width: 100%;
}
#taskList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
    /* border: 2px solid yellow; */
}
.taskItem{
    display: flex;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--secondaryBackground);
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
}
.task{
    display: flex;
    align-items: center;
    gap: 15px;
}
.taskItem img{
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

.taskItem .completed p{
    text-decoration: line-through;
    color: blue;
}
.task p{
    font-size: 20px;
    padding: 10px;
}

@media (max-width : 800px) {
    .container{
        width: 95%;
        margin-top: 30px;
    }
    #numbers{
    width: 90px;
    height: 90px;
    font-size: 25px;
}
}

